body{
    background: #d2d2c1 url('../img/fundo.png');
}

#principal{
    width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
    align-self: center;

}
img.capa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    text-align: center;
    padding: 10px;
    width: 29.4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #c5c5b2;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(73, 97, 73);
}
.corpo{
    font-size: 1.2em;
    padding: 2px 8px ;
    width: 43.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(235, 243, 235);
}
.fim{
    font-size: 20px;
    width: 45em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#c5c5b2;
    text-align: center;
    margin-top: -20px;
}
h4{
    color: rgb(73, 97, 73);
}
img.campanha{
    margin-left: 10%;
    height: 400px;
    width: 650px;
    border: ridge 10px #c3c3ae;
}